# Enable RewriteEngine
RewriteEngine On

# Remove .php extension
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php [L]

# Prevent directory listing
Options -Indexes

# Error pages
ErrorDocument 404 /dracin/404.php
